<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<meta charset="UTF-8">
<title th:text="${title}">Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="theme-color" content="#e90101" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="video, movie, show, tv, watch, online, streaming, stream, ads, trailer, imdb, dram, action, hollywood, cinema, rate" />
<meta name="description" content="For all kind of video streaming website" />

<link type="text/css" rel="stylesheet" th:href="@{/common/css/lineicons.css}">
<link type="text/css" rel="stylesheet" th:href="@{/common/css/fancybox.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/common/css/swiper.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/common/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/common/css/style.css}">
<link rel="shortcut icon" th:href="@{/common/ico/favicon.png}" type="image/png">

<style>
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 1px;
	background-color: #65ee5b;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #65ee5b;
}
</style>
</head>


</html>