<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="scriptfile">
<script type="text/javascript" th:src="@{/common/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/swiper.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/fancybox.min.js}"></script>
<script type="text/javascript" th:src="@{/common/js/scripts.js}"></script>

</div>
</html>